*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

}

:root{
    --primary-background-gradient: rgb(196, 223, 223);
    --primary-background-color: rgb(196, 223, 223);
    --secondary-background-color: rgb(210, 233, 233);
    --primary-foreground-color: rrgb(227, 244, 244);
    --secondary-foreground-color: rgb(248, 246, 244);
    --border-color: black;
}