.form__container{
    position: fixed;
    top: 0;
    border-bottom: 2px solid var(--border-color);
    width: 100vw;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}
.form__name_input_container{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
.form__name_input{
    width: clamp(200px, 80vw, 300px);
    height: 30px;
    padding: 4px 7px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    font-size: 1rem;
    margin: 5px;
    background-color: var(--secondary-background-color); 
}
.inputError{
    padding-left: 15px;
    color: rgb(221, 24, 24);
    font-size: 1.1rem;
}
.form__add_btn{
    background-color: var(--secondary-background-color);
    border: 2px solid var(--border-color);
    margin: 5px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}
/* ::placeholder{
    color: var(--secondary-foreground-color);
} */
.form__add_btn:hover{
    background-color: var(--secondary-foreground-color);
    color: var(--secondary-background-color);
}
.form__modal_text_area{
    background-color: var(--secondary-background-color);
    padding: 5px;
}