@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
.taskCard__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(300px, 80vw, 800px);
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 20px 10px;
    border-radius: 20px;
    background-color: var(--primary-background-color);
    cursor: pointer;
}

.taskCard__name{
    color: black !important;
    /* background-color: var(--secondary-background-color); */
    /* border-bottom: 2px solid var(--secondary-foreground-color); */
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0px 10px;
    font-family: 'Bree Serif', serif;
}
.taskCard__desc
{
    /* background-color: var(--secondary-background-color); */
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0px 10px;
    color: black !important;
    font-family: 'Vollkorn', serif;
    width: 290px;
}

.editform__name_input{
    width: clamp(200px, 80vw, 250px);
    height: 30px;
    padding: 4px 7px;
    border: 2px solid var(--border-color);
    /* border-radius: 15px; */
    font-size: 1rem;
    margin: 10px;
    background-color: var(--secondary-background-color); 
}
.editform__modal_text_area{
    background-color: var(--secondary-background-color);
    padding: 5px;
    border: 2px solid var(--border-color);
    margin-bottom: 10px;
}


@media screen and (max-width: 500px) {
    .taskCard__container{
        flex-direction: column;
    }
    .taskCard__name,
    .taskCard__desc{
        margin: 10px 0;
    }
}